.app-container {
    text-align: center;
    padding: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #1890ff;
}

nav a:hover {
    text-decoration: underline;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.login-card {
    width: 300px !important; /* Ensure fixed width */
    padding: 20px !important;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #1890ff;
    color: white;
}

.header-left {
    flex: 1;
}

.header-title {
    flex: 2;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header a,
.header button {
    color: white;
}
